body {
    font-size              : 100%;
    color                  : blanchedalmond;
    font-family            : Tahoma, Geneva, sans-serif;
    background             : url(assets/galaxybackground.jpg) no-repeat fixed top center;
    padding                : 25;
    margin                 : 25;
    -webkit-background-size: 100% 100%;
    -moz-background-size   : 100% 100%;
    background-size        : 100% 100%;
    -o-background-size     : 100% 100%;
}

h1 {
    color    : #ff0055;
    font-size: 2.0em;
    margin   : 0.5em 0 0.5em 0;
    padding  : 0;
}

h2 {
    color    : #2cec12;
    font-size: 2.0em;
    margin   : 0.5em 0 0.5em 0;
    padding  : 0;
}

div.container1{
    color: aqua;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: x-large;
}

div.container2 {
    color      : #2cec12;
    font-size: bold;
}
div.container4{
    color: #ff0055;
    font-size: bold;
}
div.container6{
    color: #967634;
    font-size: bold;
}